---
import ChapterSideBar from "../utils/ChapterSideBar.astro";
import SectionAside from "../utils/SectionAside.astro";
import TopNavbar from "../utils/TopNavbar.astro";
import NavigatorButtons from "../components/NavigatorButtons.vue";
import Breadcrumbs from "../components/Breadcrumbs.vue";
import "../styles/global.css";
export interface Props {
 title: string;
 dir: string;
 prev: any;
 next: any;
 uselayout: boolean;
}
const { title, dir, prev, next, uselayout } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
 </head>
 <body>
  {
   !uselayout ? (
    <div class="flex w-screen h-screen">
     <nav class="bg-blue-500 hidden md:flex md:w-1/4 lg:w-1/5">
      <ChapterSideBar />
     </nav>
     <div class="h-full w-full md:w-3/4 lg:w-5/6 relative">
      <nav class="w-100" id="top-navbar">
       <TopNavbar />
      </nav>
      <div class="flex" id="main-content">
       <main class="p-5 h-full w-full xl:w-5/6 overflow-auto">
        <section class="flex flex-col space-y-7">
         <slot />
         <NavigatorButtons
          next={next ? `/${dir}/${next}` : null}
          prev={prev ? `/${dir}/${prev}` : null}
         />
        </section>
       </main>
       <aside class="bg-green-500 hidden xl:flex w-1/6 h-full">
        <SectionAside />
       </aside>
      </div>
     </div>
    </div>
   ) : (
    <div class="min-h-full">
     <slot />
    </div>
   )
  }
 </body>
</html>

<style scoped>
 #main-content {
  height: 90%;
 }
 #top-navbar {
  height: 10%;
 }
</style>
